

body{
    margin: 0;
}


.cabecalho {
    background-color: rgb(83, 79, 79);
    padding: 5px 10px 15px 10px;    
}


.cabecalho nav a {
    color: rgb(208, 209, 211);
    text-decoration: none;
    margin-right: 10px;
    
}

.cabecalho nav a:hover{
    color: rgb(170, 165, 165);
    
}

h2 {
    margin-top: 0px;
}
main{
    padding: 30px;
}

.noticia div p{
    width: 60ch;
}

.noticia footer a {
    background-color: rgb(100, 94, 94);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
}

.noticia footer a:hover{
    background-color: rgb(177, 166, 166);
    border: solid 1px black;
    color: black;
    box-shadow: 0px 5px 2px 1px rgb(82, 74, 74);
}

